default:
    suites:
        default:
            contexts:
                - App\Tests\Behat\RestContext
                - App\Tests\Behat\DemoContext

    extensions:
        FriendsOfBehat\SymfonyExtension: null
